<div class="content">
    <h2>About</h2>
    
    <h3>What is this web app?</h3>
    <p>It shows the latest trends on Twitter and allows you to view images based on the trend.</p>
    
    <h3>Why did you build this?</h3>
    <p>This is a research project while I was learning <a href="https://angularjs.org/" target="_blank">AngularJS</a>. I wanted to put my newly learned skills to good use and this is what I came up with!</p>
    <p>I built <a href="https://a-thousand-words.herokuapp.com" target="_blank">a similar web app</a> using React.</p>
    
    <h3>What technologies did you use?</h3>
    <ul>
        <li>HTML5</li>
        <li>SASS</li>
        <li>JavaScript</li>
        <li>AngularJS</li>
        <li>jQuery</li>
        <li>Node</li>
        <li>Gulp</li>
        <li>Express</li>
        <li>Heroku to host</li>
    </ul>
    
    <h3>These images are different from Twitter Search?!</h3>
    <p>Twitter indexes content differently with their search and their API, not all tweets will appear and may be different from what shows up in search. From what I've seen, the API shows more results than twitter search as search seems to take into account the popularity of a post.</p>
    
    <h3>Can I see your code?</h3>
    <p>Absolutely! My code is publicly available, <a href="https://bitbucket.org/harveybanham/a-thousand-words-angular" target="_blank">have a look</a>.</p>
</div>