<nav ng-controller="navigationController" id="primary-navigation">
    <ul>
        <li ng-repeat="item in items" ng-class="{active: isActive(item)}">
            <a href="{{item.path}}">{{item.title}}</a>
        </li>
        <li class="navigation-line"></li>
    </ul>
</nav>