<div class="content clearfix">
    <p class="tagline">Click or Search trends to view the latest images</p>
    <p class="note">Please note: Due to API restrictions, give a few seconds between trend searches.</p>
</div>

<!-- Trend tags -->
<div class="trending clearfix">
    <h2>Trending</h2>
    <ul class="trend-list clearfix">
        <li ng-repeat="tag in trends | limitTo:16"><a href="" ng-click="updateTweets(tag.name)">{{tag.name}}</a></li>
    </ul>
    <form class="search">
        Search Twitter for
        <span class="block-mobile">
            <input type="text" id="searchInput" required ng-model="searchInput">
            <button type="button" name="button" type="submit" id="searchButton" ng-click="updateTweets(searchInput)">&#8981;</button>
        </span>
    </form>
</div>

<!-- Tweets -->
<div class="tweet-list clearfix">
    <div class="grid-sizer"></div>
    
    <div ng-repeat="tweet in tweets" class="tweet tweet-hover">
        <a href={{tweet.url}} class="tweet-link" target="_blank">
            <img ng-src={{tweet.imageurl}} alt="" />
            <div class="tweet-caption">
                <p class="tweet-name"><strong>{{tweet.name}}</strong></p>
                <p class="tweet-text">{{tweet.text}}</p>
            </div>
        </a>
    </div>
</div>