<div class="content">
    <h2>Contact</h2>
    
    <p>Hello, my name is Harvey - I'm the developer that built this web app.</p>
    <p>You can get a hold of me through <a href="mailto:harveybanham@gmail.com">email</a> or <a href="https://twitter.com/HarveyBanham" target="_blank">twitter</a>.</p>
</div>