#page-wrap {
    max-width: 1500px;
    margin: 0 auto;
}

.search {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

#searchInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $lightGrey;
    border-radius: 0;
    height: 1em;
    width: 144px;
    
    color: $darkRed;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    
    box-shadow: none;
    outline: none;
    margin: 0;
    padding: 0;
    
    &:focus {
        border-bottom: 1px solid $darkRed;
    }
}

#searchButton {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    
    &:hover {
        color: $darkRed;
    }
}


.trending {
    h2 {
        text-align: center;
    }
}

.trend-list {
    padding: 0;
    margin: 0;
    
    li {
        display: block;
        float: left;
        text-align: center;
        width: 50%;
        margin-bottom: 10px;
    }
}



.tweet-list {
    margin-left: $gutter;
}

.grid-sizer {
    width: calc(100% - #{$gutter});
}

.tweet {
    width: calc(100% - #{$gutter});
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
    float: left;
    opacity: 0;
    transition: opacity 0.3s;
    
    .tweet-link {
        display: block;
    }
    
    .tweet-name {
        
    }
    
    .tweet-text {
        word-wrap: break-word;
        line-height: 1.4em;
    }
    
    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}



/* Hover effect */
.tweet-hover {
	position: relative;
	text-align: center;
	cursor: pointer;
	z-index: auto;
	background: $black;
    
    &:before {
    	opacity: 0;
        transition: opacity 0.35s;
    }
    &:hover:before {
    	opacity: 1;
    }
    
    .tweet-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
    	z-index: 1;
        opacity: 0.95;
        transform: translateY(-50%) translateX(-50%);
    }
    
    img {
    	opacity: 1;
    	transition: transform 0.35s;
    	transform: perspective(1000px) translate3d(0,0,0);
    }
    &:hover img {
    	transform: perspective(1000px) translate3d(0,0,21px);
    }
    
    .tweet-name, .tweet-text {
    	background: $white;
    	color: $black;
        padding: 0.5em;
    	opacity: 0;
    	transition: opacity 0.35s, transform 0.35s;
    	transform: scale3d(0.9,0.9,1);
    }
    &:hover {
        .tweet-name, .tweet-text {
        	opacity: 1;
        	transform: scale3d(1,1,1);
        }
    }
}










@media (min-width: $medium) and (max-width: $large) {
    .grid-sizer {
        width: calc(50% - #{$gutter});
    }

    .tweet {
        width: calc(50% - #{$gutter});
    }
    
    .trend-list li {
        width: 50%;
    }
    
    #searchInput {
        width: 200px;
    }
}

@media (min-width: $large+1) {
    .grid-sizer {
        width: calc(33.333% - #{$gutter});
    }

    .tweet {
        width: calc(33.333% - #{$gutter});
    }
    
    .trend-list li {
        width: 25%;
    }
}
















