.content {
    max-width: 700px;
    margin: 0 auto $gutter auto;
    padding: 0 $gutter 0 $gutter;
}

.tagline {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}

.note {
    font-size: 16px;
    text-align: center;
}

.list-strike {
    text-decoration: line-through;
}





@media (max-width: $small) {
    .block-mobile {
        display: block;
    }
}

// @media (min-width: $medium) and (max-width: $large) {
//     .grid-sizer {
//         width: calc(50% - #{$gutter});
//     }
// 
//     .tweet {
//         width: calc(50% - #{$gutter});
//     }
// }
// 
// @media (min-width: $large+1) {
//     .grid-sizer {
//         width: calc(33.333% - #{$gutter});
//     }
// 
//     .tweet {
//         width: calc(33.333% - #{$gutter});
//     }
// }