html {
    //Show scrollbar before images load so not jerky
    overflow-y: scroll;
    background-color: $bgColor;
    color: $offBlack;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    margin: 0 50px;
}

h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}
h3 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

strong {
    font-weight: 600;
}

a {
    color: $darkRed;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0 0 1em 0;
}

/* Clearfix */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}