#primary-navigation {
    ul {
        font-size: 1.15em;
        text-transform: uppercase;
        
        @extend .clearfix;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 360px;
        
        position: relative;
    }
    
    li {
        display: block;
        float: left;
    }
    
    .navigation-line {
        position: absolute;
        top: 100%;
        left: 0;
        width: 120px;
        height: 5px;
        pointer-events: none;
        background: $darkRed;
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    }
    
    li:nth-child(1).active ~ .navigation-line {
    	transform: translate3d(0, 0, 0);
    }

    li:nth-child(2).active ~ .navigation-line {
    	transform: translate3d(100%, 0, 0);
    }

    li:nth-child(3).active ~ .navigation-line {
    	transform: translate3d(200%, 0, 0);
    }
    
    a {
        display: block;
        width: 120px;
        color: $offBlack;
        text-align: center;
        text-decoration: none;
        transition: color 0.3s;
        
        &:hover {
            color: $lightGrey;
        }
    }
    
    .active a {
        color: $darkRed;
        transition: color 0.3s;
    }
}















@media (max-width: $small) {
    $navItemHeight: 35px;
    $navItemMargin: 10px;
    
    #primary-navigation {
        ul {
            width: 100%;
        }
        
        li {
            float: none;
            height: $navItemHeight;
            margin-bottom: $navItemMargin;
        }
        
        a {
            width: 100%;
        }
        
        .navigation-line {
            width: 120px;
            top: 0;
            left: 50%;
        }
        
        
        
        .menu--alonso .menu__line {
    		top: 3em;
    	}

    	li:nth-child(1).active ~ .navigation-line {
    		transform: translate3d(-50%, ($navItemHeight - 5px), 0);
    	}

    	li:nth-child(2).active ~ .navigation-line {
    		transform: translate3d(-50%, (($navItemHeight*2) + ($navItemMargin) - 5px), 0);
    	}

    	li:nth-child(3).active ~ .navigation-line {
    		transform: translate3d(-50%, (($navItemHeight*3) + ($navItemMargin*2) - 5px), 0);
    	}
    }
}








